<div class="col-sm-2 b-right bg-blue">
    <div class="row text-center b-bottom">
    <div class="col-sm-6 py-2 b-right">
        <div class="text-white"><%=current_user.followees.count if current_user%></div>
        <h6 class="text-secondary text-small">Following</h6>
    </div>
    <div class="col-sm-6 py-2">
        <div class="text-white"><%=current_user.followers.count if current_user%></div>
        <h6 class="text-secondary text-small">Followers</h6>
    </div>
    </div>
    <div class="row">
    <nav class="w-100">
        <ul class="list-unstyled">
        <li class="">
            <%= link_to 'HOME', root_path, class: 'p-3 color-link' %>
        </li>
        <li class="">
            <%= link_to 'PROFILE', user_path(current_user), class: 'p-3 color-link' %>
        </li>
        </ul>
    </nav>
    </div>
</div>